http_interactions:
- request:
    method: GET
    uri: https://stackoverflow.com/questions/21167159/css-nth-match-doesnt-work
  response:
    status: 200
    headers:
      content-type: text/html; charset=utf-8
      x-clacks-overhead: GNU Terry Pratchett
      x-request-guid: 4bb72c61-902f-413b-a989-d7f4c621acf1
      x-worker-origin-response-time: '151000000'
    body:
      string: "\n<!DOCTYPE html>\n\n\n    <html itemscope itemtype=\"https://schema.org/QAPage\"
        class=\"html__responsive \" lang=\"en\">\n\n    <head>\n\n        <title>html
        - CSS nth-match doesn&#39;t work - Stack Overflow</title>\n        <link rel=\"shortcut
        icon\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196\">\n
        \       <link rel=\"apple-touch-icon\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a\">\n
        \       <link rel=\"image_src\" href=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a\">
        \n        <link rel=\"search\" type=\"application/opensearchdescription+xml\"
        title=\"Stack Overflow\" href=\"/opensearch.xml\">\n        <link rel=\"canonical\"
        href=\"https://stackoverflow.com/questions/21167159/css-nth-match-doesnt-work\"
        />\n    <meta name=\"viewport\" content=\"width=device-width, height=device-height,
        initial-scale=1.0, minimum-scale=1.0\">\n        <meta property=\"og:type\"
        content= \"website\" />\n        <meta property=\"og:url\" content=\"https://stackoverflow.com/questions/21167159/css-nth-match-doesnt-work\"/>\n
        \       <meta property=\"og:site_name\" content=\"Stack Overflow\" />\n        <meta
        property=\"og:image\" itemprop=\"image primaryImageOfPage\" content=\"https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon@2.png?v=73d79a89bded\"
        />\n        <script type=\"application/ld+json\">\n            {\n              \"@context\"
        : \"https://schema.org\",\n              \"@type\" : \"WebSite\",\n              \"name\"
        : \"Stack Overflow\",\n              \"url\" : \"https://stackoverflow.com\"\n
        \           }\n        </script>\n        <meta name=\"twitter:card\" content=\"summary\"/>\n
        \       <meta name=\"twitter:domain\" content=\"stackoverflow.com\"/>\n        <meta
        name=\"twitter:title\" property=\"og:title\" itemprop=\"name\" content=\"CSS
        nth-match doesn&#x27;t work\" />\n        <meta name=\"twitter:description\"
        property=\"og:description\" itemprop=\"description\" content=\"nth-match is
        supposed t[...]
