http_interactions:
- request:
    method: get
    uri: https://cyprus-mail.com/2021/02/18/the-secret-helping-car-companies-stay-profitable/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=UTF-8
      last-modified: Fri, 12 Mar 2021 08:14:56 GMT
      link: <https://cyprus-mail.com/wp-json/>; rel="https://api.w.org/", <https://cyprus-mail.com/wp-json/wp/v2/posts/395376>;
        rel="alternate"; type="application/json", <https://cyprus-mail.com/?p=395376>;
        rel=shortlink
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"en-GB\">\n<head><style>img.lazy{min-height:1px}</style><link
        rel=\"preload\" href=\"https://cyprus-mail.com/wp-content/plugins/w3-total-cache/pub/js/lazyload.min.js\"
        as=\"script\">\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n<title>The
        secret helping car companies stay profitable | Cyprus Mail</title>\n\n<script
        data-cfasync=\"false\" data-pagespeed-no-defer type=\"text/javascript\">//<![CDATA[\n\tvar
        gtm4wp_datalayer_name = \"dataLayer\";\n\tvar dataLayer = dataLayer || [];\n\n\tvar
        gtm4wp_scrollerscript_debugmode         = false;\n\tvar gtm4wp_scrollerscript_callbacktime
        \     = 100;\n\tvar gtm4wp_scrollerscript_readerlocation    = 150;\n\tvar
        gtm4wp_scrollerscript_contente[...]
