http_interactions:
- request:
    method: get
    uri: http://web.archive.org/web/20190801001228/https://www.spiegel.de/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html;charset=UTF-8
      x-archive-orig-date: Thu, 01 Aug 2019 00:12:26 GMT
      x-archive-orig-cache-control: no-transform
      x-archive-orig-expires: Thu, 01 Aug 2019 00:13:12 GMT
      x-archive-orig-x-sp-te: '6139'
      x-archive-orig-x-robots-tag: index, follow, noarchive, noodp
      x-archive-orig-x-sp-ap: '6136'
      x-archive-orig-vary: Accept-Encoding, isssl
      x-archive-orig-age: '1'
      x-archive-orig-x-sp-pr: '6136'
      x-archive-orig-accept-ranges: bytes
      x-archive-orig-content-length: '394226'
      x-archive-orig-connection: close
      x-archive-guessed-content-type: text/html
      x-archive-guessed-charset: utf-8
      memento-datetime: Thu, 01 Aug 2019 00:12:28 GMT
      link: <https://www.spiegel.de/>; rel="original", <http://web.archive.org/web/timemap/link/https://www.spiegel.de/>;
        rel="timemap"; type="application/link-format", <http://web.archive.org/web/https://www.spiegel.de/>;
        rel="timegate", <http://web.archive.org/web/19961223062446/http://www.spiegel.de:80/>;
        rel="first memento"; datetime="Mon, 23 Dec 1996 06:24:46 GMT", <http://web.archive.org/web/20190731234337/http://www.spiegel.de/>;
        rel="prev memento"; datetime="Wed, 31 Jul 2019 23:43:37 GMT", <http://web.archive.org/web/20190801001228/https://www.spiegel.de/>;
        rel="memento"; datetime="Thu, 01 Aug 2019 00:12:28 GMT", <http://web.archive.org/web/20190801005922/http://spiegel.de/>;
        rel="next memento"; datetime="Thu, 01 Aug 2019 00:59:22 GMT", <http://web.archive.org/web/20210315114705/https://www.spiegel.de/>;
        rel="last memento"; datetime="Mon, 15 Mar 2021 11:47:05 GMT"
      x-archive-src: TWITTER-20190731224427-crawl854/TWITTER-20190731235459-02723.warc.gz
      x-app-server: wwwb-app31
      x-ts: '200'
      x-tr: '3068'
      x-location: All
      x-rl: '0'
      x-na: '0'
      x-page-cache: MISS
      x-nid: '-'
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\"><html
        lang=\"de\">\n<head><script src=\"//archive.org/includes/analytics.js?v=cf34f82\"
        type=\"text/javascript\"></script>\n<script type=\"text/javascript\">window.addEventListener('DOMContentLoaded',function(){var
        v=archive_analytics.values;v.service='wb';v.server_name='wwwb-app31.us.archive.org';v.server_ms=885;archive_analytics.send_pageview({});});</script><script
        type=\"text/javascript\" src=\"/_static/js/playback.bundle.js?v=bQvHU8mx\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\" src=\"/_static/js/wombat.js?v=cRqOKCOw\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\">\n  __wm.init(\"http://web.archive.org/web\");\n
        \ __wm.wombat(\"https://www.spiegel.de/\",\"20190801001228\",\"http://web.archive.org/\",\"web\",\"/_static/\",\n\t
        \     \"1564618348\");\n</script>\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"/_static/css/banner-styles.css?v=bsmaklHF\" />\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"/_static/css/iconochive.css?v=qtvMKcIJ\" />\n<!--
        End Wayback Rewrite JS Include -->\n\n\t<title>SPIEGEL ONLINE - Aktuelle Nachrichten</title>\n\t<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"/>\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>\n<meta name=\"author\"
        content=\"SPIEGEL ONLINE, Hamburg, Germany\"/>\n<meta name=\"copyright\" content=\"SPIEGEL
        ONLINE, Hamburg, Germany\"/>\n<meta name=\"email\" content=\"spiegel_online@spiegel.de\"/>\n<meta
        name=\"MSSmartTagsPreventParsing\" content=\"true\"/>\n<meta http-equiv=\"imagetoolbar\"
        content=\"no\"/>\n<meta name=\"viewport\" content=\"width=device-width\"/>\n<meta
        name=\"description\" content=\"Deutschlands führende Nachrichtenseite. Alles
       [...]
