http_interactions:
- request:
    method: get
    uri: http://web.archive.org/web/20190501205310/http://taz.de/Praesident-Trong-scheut-Oeffentlichkeit/!5588752/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html;charset=utf-8
      x-archive-orig-date: Wed, 01 May 2019 20:53:10 GMT
      x-archive-orig-server: Apache/2.4.10 (Debian)
      x-archive-orig-client-peer: 193.104.220.6:80
      x-archive-orig-client-response-num: '1'
      x-archive-orig-client-transfer-encoding: chunked
      x-archive-orig-x-clacks-overhead: GNU Terry Pratchett
      x-archive-orig-x-use-gopher: gopher://taz.de
      x-archive-orig-cache-control: max-age=0, no-cache, no-store, must-revalidate
      x-archive-orig-last-modified: Wed, 01 May 2019 15:04:09 GMT
      x-archive-orig-content-length: '103754'
      x-archive-orig-accept-ranges: bytes
      x-archive-orig-age: '0'
      x-archive-orig-via: 1.0 www.taz.de
      x-archive-orig-expires: Fri, 22 Sep 1978 00:00:01 GMT
      x-archive-orig-pragma: no-cache
      x-archive-orig-x-debug-channel: web
      x-archive-orig-vary: Accept-Encoding,Cookie
      x-archive-orig-connection: close
      x-archive-guessed-content-type: text/html
      x-archive-guessed-charset: utf-8
      memento-datetime: Wed, 01 May 2019 20:53:10 GMT
      link: <http://taz.de/Praesident-Trong-scheut-Oeffentlichkeit/!5588752/>; rel="original",
        <http://web.archive.org/web/timemap/link/http://taz.de/Praesident-Trong-scheut-Oeffentlichkeit/!5588752/>;
        rel="timemap"; type="application/link-format", <http://web.archive.org/web/http://taz.de/Praesident-Trong-scheut-Oeffentlichkeit/!5588752/>;
        rel="timegate", <http://web.archive.org/web/20190501171443/http://www.taz.de/Praesident-Trong-scheut-Oeffentlichkeit/!5588752/>;
        rel="first memento"; datetime="Wed, 01 May 2019 17:14:43 GMT", <http://web.archive.org/web/20190501171443/http://www.taz.de/Praesident-Trong-scheut-Oeffentlichkeit/!5588752/>;
        rel="prev memento"; datetime="Wed, 01 May 2019 17:14:43 GMT", <http://web.archive.org/web/20190501205310/http://taz.de/Praesident-Trong-scheut-Oeffentlichkeit/!5588752/>;
        rel="memento"; datetime="Wed, 01 May 2019 20:53:10 GMT", <http://web.archive.org/web/20190505233100/http://taz.de/Praesident-Trong-scheut-Oeffentlichkeit/!5588752/>;
        rel="next memento"; datetime="Sun, 05 May 2019 23:31:00 GMT", <http://web.archive.org/web/20210125134125/https://taz.de/Praesident-Trong-scheut-Oeffentlichkeit/!5588752/>;
        rel="last memento"; datetime="Mon, 25 Jan 2021 13:41:25 GMT"
      x-archive-src: NO404-GDELT-20190501192627-crawl409/NO404-GDELT-20190501204854-00390.warc.gz
      x-app-server: wwwb-app39
      x-ts: '200'
      x-tr: '605'
      x-location: All
      x-rl: '0'
      x-na: '0'
      x-page-cache: HIT
      x-nid: '-'
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html SYSTEM \"about:legacy-compat\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:my=\"mynames\" lang=\"de\"><!-- DEBUG start 22:53:10+02:00 page_id=4619
        :: Asien--><!--\n\t\tContent Management: openNewspaper www.opennewspaper.org
        based on TYPO3 www.typo3.org\n\t\tCommunity Platform: Invsision Power Board
        www.invisionpower.com via ipbwi.com + manufactured PHP\n\t\tPresentation Layer:
        XML, XSL, HTML, CSS, JS (+ toil, tears and sweat) webmaster@taz.de\n\t--><head><script
        src=\"//archive.org/includes/analytics.js?v=cf34f82\" type=\"text/javascript\"></script>\n<script
        type=\"text/javascript\">window.addEventListener('DOMContentLoaded',function(){var
        v=archive_analytics.values;v.service='wb';v.server_name='wwwb-app39.us.archive.org';v.server_ms=395;archive_analytics.send_pageview({});});</script><script
        type=\"text/javascript\" src=\"/_static/js/playback.bundle.js?v=bQvHU8mx\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\" src=\"/_static/js/wombat.js?v=cRqOKCOw\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\">\n  __wm.init(\"http://web.archive.org/web\");\n
        \ __wm.wombat(\"http://taz.de/Praesident-Trong-scheut-Oeffentlichkeit/!5588752/\",\"20190501205310\",\"http://web.archive.org/\",\"web\",\"/_static/\",\n\t
        \     \"1556743990\");\n</script>\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"/_static/css/banner-styles.css?v=bsmaklHF\" />\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"/_static/css/iconochive.css?v=qtvMKcIJ\" />\n<!--
        End Wayback Rewrite JS Include -->\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=utf-8\">\n<!--\n\t\t\tpage_id :: 4619--><meta http-equiv=\"Content-Script-Type\"
        content=\"text/javascript\"></meta><meta name=\"robots\" content=\"index,follow,noarchive\"></meta><meta
        name=\"language\" content=\"de\"></meta><meta name=\"copyright\" content=\"TAZ
        Verlags- und Vertriebs GmbH\"></meta><title>Präsident Trong scheut Öffentlichkeit:
        Vietnamesen rätseln um Staatschef - taz.de\n</title><meta name=\"author\"
        content=\"Marina Mai\"></meta><meta name=\"description\" content=\"Staatsmedien
        räumen ein, Nguyen Phu Trong habe gesundheitliche Probleme. Experten zufolge
        soll es einen Kampf um die Nachfolge geben.\"></meta><meta name=\"keywords\"
        content=\"Vietnam, Nguyen Phu Trong, KP Vietnam, Asien, Politik, taz, tageszeitung
        \"></meta><meta name=\[...]
- request:
    method: get
    uri: http://web.archive.org/web/20190503083057/http://blogs.taz.de/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=UTF-8
      link: <http://blogs.taz.de:80/?>; rel="original", <http://web.archive.org/web/timemap/link/http://blogs.taz.de:80/?>;
        rel="timemap"; type="applicat[...]
- request:
    method: get
    uri: http://web.archive.org/web/20190503061454/http://taz.de/!p4608;web/#!g5591075
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: text/html; charset=iso-8859-1
      x-archive-orig-date: Fri, 03 May 2019 06:14:54 GMT
      x-archive-orig-server: Apache/2.4.10 (Debian)
    [...]
