http_interactions:
- request:
    method: get
    uri: http://web.archive.org/web/20201009174440/https://www.uni-mannheim.de/universitaet/profil/geschichte/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=utf-8
      link: <https://www.uni-mannheim.de/universitaet/profil/geschichte/>; rel="original",
        <http://web.archive.org/web/timemap/link/https://www.uni-mannheim.de/universitaet/profil/geschichte/>;
        rel="timemap"; type="application/link-format", <http://web.archive.org/web/https://www.uni-mannheim.de/universitaet/profil/geschichte/>;
        rel="timegate", <http://web.archive.org/web/20190310015353/https://www.uni-mannheim.de/universitaet/profil/geschichte/>;
        rel="first memento"; datetime="Sun, 10 Mar 2019 01:53:53 GMT", <http://web.archive.org/web/20200926210147/https://www.uni-mannheim.de/universitaet/profil/geschichte/>;
        rel="prev memento"; datetime="Sat, 26 Sep 2020 21:01:47 GMT", <http://web.archive.org/web/20201009174440/https://www.uni-mannheim.de/universitaet/profil/geschichte/>;
        rel="memento"; datetime="Fri, 09 Oct 2020 17:44:40 GMT", <http://web.archive.org/web/20201205180826/https://www.uni-mannheim.de/universitaet/profil/geschichte/>;
        rel="next memento"; datetime="Sat, 05 Dec 2020 18:08:26 GMT", <http://web.archive.org/web/20201205180826/https://www.uni-mannheim.de/universitaet/profil/geschichte/>;
        rel="last memento"; datetime="Sat, 05 Dec 2020 18:08:26 GMT"
      memento-datetime: Fri, 09 Oct 2020 17:44:40 GMT
      x-app-server: wwwb-app200
      x-archive-guessed-charset: utf-8
      x-archive-guessed-content-type: text/html
      x-archive-orig-cache-control: no-cache, must-revalidate
      x-archive-orig-connection: close
      x-archive-orig-content-language: de
      x-archive-orig-content-length: '159696'
      x-archive-orig-date: Fri, 09 Oct 2020 17:44:51 GMT
      x-archive-orig-expires: '0'
      x-archive-orig-last-modified: Fri, 09 Oct 2020 17:44:51 GMT
      x-archive-orig-pragma: no-cache
      x-archive-orig-server: Apache
      x-archive-orig-set-cookie:
      - uma_be_typo_user=89471c82cfd4596f4775ee558e3a9d34; path=/; domain=uni-mannheim.de;
        httponly; samesite=lax
      - uma_be_typo_user=1a2439b3c09c7ba4b40b3a8da4ba3986; path=/; domain=uni-mannheim.de;
        httponly; samesite=lax
      x-archive-orig-x-content-type-options: nosniff
      x-archive-orig-x-powered-by: PHP/7.2.5
      x-archive-orig-x-ua-compatible: IE=edge
      x-archive-src: WPO-20201009170128-crawl894/WPO-20201009173528-01293.warc.gz
      x-location: All
      x-na: '0'
      x-nid: '-'
      x-page-cache: MISS
      x-rl: '0'
      x-tr: '703'
      x-ts: '200'
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<html class=\"no-js\" lang=\"de\">\n<head><script
        src=\"//archive.org/includes/analytics.js?v=cf34f82\" type=\"text/javascript\"></script>\n<script
        type=\"text/javascript\">window.addEventListener('DOMContentLoaded',function(){var
        v=archive_analytics.values;v.service='wb';v.server_name='wwwb-app200.us.archive.org';v.server_ms=553;archive_analytics.send_pageview({});});</script><script
        type=\"text/javascript\" src=\"/_static/js/playback.bundle.js?v=bQvHU8mx\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\" src=\"/_static/js/wombat.js?v=cRqOKCOw\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\">\n  __wm.init(\"http://web.archive.org/web\");\n
        \ __wm.wombat(\"https://www.uni-mannheim.de/universitaet/profil/geschichte/\",\"20201009174440\",\"http://web.archive.org/\",\"web\",\"/_static/\",\n\t
        \     \"1602265480\");\n</script>\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"/_static/css/banner-styles.css?v=bsmaklHF\" />\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"/_static/css/iconochive.css?v=qtvMKcIJ\" />\n<!--
        End Wayback Rewrite JS Include -->\n\n\n<meta charset=\"utf-8\">\n<!-- \n\tThis
        website is powered by TYPO3 - inspiring people to share!\n\tTYPO3 is a free
        open source Content Management Framework initially created by Kasper Skaarhoj
        and licensed under GNU/GPL.\n\tTYPO3 is copyright 1998-2019 of Kasper Skaarhoj.
        Extensions are copyright of their respective owners.\n\tInformation and contribution
        at https://typo3.org/\n-->\n\n\n\n<title>Geschichte | Universität Mannheim</title>\n<meta
        name=\"generator\" content=\"TYPO3 CMS\">\n<meta name=\"revisit-after\" content=\"10
        days\">\n\n\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/web/20201009174440cs_/https://www.uni-mannheim.de/typo3temp/assets/css/dc656ab57d.1601973287.css\"
        media=\"all\">\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/web/20201009174440cs_/https://www.uni-mannheim.de/typo3conf/ext/uma_site/Resources/Public/Icons/sprite.160197301[...]
