http_interactions:
- request:
    method: get
    uri: http://web.archive.org/web/20190527190348/http://www.taz.de/Fusionsangebot-in-der-Autobranche/!5598075/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html;charset=utf-8
      x-archive-orig-date: Mon, 27 May 2019 19:03:48 GMT
      x-archive-orig-server: Apache/2.4.10 (Debian)
      x-archive-orig-client-peer: 193.104.220.6:80
      x-archive-orig-client-response-num: '1'
      x-archive-orig-client-transfer-encoding: chunked
      x-archive-orig-x-clacks-overhead: GNU Terry Pratchett
      x-archive-orig-x-debug-tracedeco: G Fusionsangebot-in-der-Autobranche/, X Fusionsangebot-in-der-Autobranche/
      x-archive-orig-x-use-gopher: gopher://taz.de
      x-archive-orig-cache-control: max-age=0, no-cache, no-store, must-revalidate
      x-archive-orig-last-modified: Mon, 27 May 2019 15:03:47 GMT
      x-archive-orig-content-length: '104244'
      x-archive-orig-accept-ranges: bytes
      x-archive-orig-age: '47'
      x-archive-orig-via: 1.0 www.taz.de
      x-archive-orig-expires: Fri, 22 Sep 1978 00:00:01 GMT
      x-archive-orig-pragma: no-cache
      x-archive-orig-x-debug-channel: web
      x-archive-orig-x-debug-vary: X-RatioURL-Decoration,X-RatioURL-Particle,Accept-Encoding,
        Cookie
      x-archive-orig-vary: Accept-Encoding,Cookie
      x-archive-orig-connection: close
      x-archive-guessed-content-type: text/html
      x-archive-guessed-charset: utf-8
      memento-datetime: Mon, 27 May 2019 19:03:48 GMT
      link: <http://www.taz.de/Fusionsangebot-in-der-Autobranche/!5598075/>; rel="original",
        <http://web.archive.org/web/timemap/link/http://www.taz.de/Fusionsangebot-in-der-Autobranche/!5598075/>;
        rel="timemap"; type="application/link-format", <http://web.archive.org/web/http://www.taz.de/Fusionsangebot-in-der-Autobranche/!5598075/>;
        rel="timegate", <http://web.archive.org/web/20190527171150/http://taz.de/Fusionsangebot-in-der-Autobranche/!5598075/>;
        rel="first memento"; datetime="Mon, 27 May 2019 17:11:50 GMT", <http://web.archive.org/web/20190527171150/http://taz.de/Fusionsangebot-in-der-Autobranche/!5598075/>;
        rel="prev memento"; datetime="Mon, 27 May 2019 17:11:50 GMT", <http://web.archive.org/web/20190527190348/http://www.taz.de/Fusionsangebot-in-der-Autobranche/!5598075/>;
        rel="memento"; datetime="Mon, 27 May 2019 19:03:48 GMT", <http://web.archive.org/web/20190529104348/http://www.taz.de:80/Fusionsangebot-in-der-Autobranche/!5598075/>;
        rel="next memento"; datetime="Wed, 29 May 2019 10:43:48 GMT", <http://web.archive.org/web/20201127150834/https://taz.de/Fusionsangebot-in-der-Autobranche/!5598075/>;
        rel="last memento"; datetime="Fri, 27 Nov 2020 15:08:34 GMT"
      x-archive-src: NO404-GDELT-20190527181649-crawl409/NO404-GDELT-20190527185005-05084.warc.gz
      x-app-server: wwwb-app102
      x-ts: '200'
      x-tr: '1227'
      x-location: All
      x-rl: '0'
      x-na: '0'
      x-page-cache: HIT
      x-nid: '-'
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html SYSTEM \"about:legacy-compat\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:my=\"mynames\" lang=\"de\"><!-- DEBUG start 21:03:02+02:00 page_id=4628
        :: Verkehr--><!--\n\t\tContent Management: openNewspaper www.opennewspaper.org
        based on TYPO3 www.typo3.org\n\t\tCommunity Platform: Invsision Power Board
        www.invisionpower.com via ipbwi.com + manufactured PHP\n\t\tPresentation Layer:
        XML, XSL, HTML, CSS, JS (+ toil, tears and sweat) webmaster@taz.de\n\t--><head><script
        src=\"//archive.org/includes/analytics.js?v=cf34f82\" type=\"text/javascript\"></script>\n<script
        type=\"text/javascript\">window.addEventListener('DOMContentLoaded',function(){var
        v=archive_analytics.values;v.service='wb';v.server_name='wwwb-app102.us.archive.org';v.server_ms=1125;archive_analytics.send_pageview({});});</script><script
        type=\"text/javascript\" src=\"/_static/js/playback.bundle.js?v=bQvHU8mx\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\" src=\"/_static/js/wombat.js?v=cRqOKCOw\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\">\n  __wm.init(\"http://web.archive.org/web\");\n
        \ __wm.wombat(\"http://www.taz.de/Fusionsangebot-in-der-Autobranche/!5598075/\",\"20190527190348\",\"http://web.archive.org/\",\"web\",\"/_static/\",\n\t
        \     \"1558983828\");\n</script>\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"/_static/css/banner-styles.css?v=bsmaklHF\" />\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"/_static/css/iconochive.css?v=qtvMKcIJ\" />\n<!--
        End Wayback Rewrite JS Include -->\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=utf-8\">\n<!--\n\t\t\tpage_id :: 4628--><meta http-equiv=\"Content-Script-Type\"
        content=\"text/javascript\"></meta><meta name=\"robots\" content=\"index,follow,noarchive\"></meta><meta
        name=\"language\" content=\"de\"></meta><meta name=\"copyright\" content=\"TAZ
        Verlags- und Vertriebs GmbH\"></meta><title>Fusionsangebot in der Autobranche:
        Fiat Chrysler wirbt um Renault - taz.de\n</title><meta name=\"author\" content=\"Felix
        Lee\"></meta><meta name=\"description\" content=\"Der italo-amerikanischeKonzern
        will mit dem Renault fusionieren. Den Nachholbedarf bei Zukunftstechnologien
        soll Nissan richten.\"></meta><meta name=\"keywords\" content=\"Chrysler,
        Fiat, Renault, Nissan, Autoindustrie, Verkehr, Öko, taz, tageszeitung \"></meta><meta
        name=\"gener[...]
