http_interactions:
- request:
    method: get
    uri: http://web.archive.org/web/20201216060059/https://www.reddit.com/r/de/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=utf-8
      link: <https://www.reddit.com/r/de/>; rel="original", <http://web.archive.org/web/timemap/link/https://www.reddit.com/r/de/>;
        rel="timemap"; type="application/link-format", <http://web.archive.org/web/https://www.reddit.com/r/de/>;
        rel="timegate", <http://web.archive.org/web/20080129064959/http://reddit.com:80/r/de>;
        rel="first memento"; datetime="Tue, 29 Jan 2008 06:49:59 GMT", <http://web.archive.org/web/20201215201628/https://www.reddit.com/r/de/>;
        rel="prev memento"; datetime="Tue, 15 Dec 2020 20:16:28 GMT", <http://web.archive.org/web/20201216060059/https://www.reddit.com/r/de/>;
        rel="memento"; datetime="Wed, 16 Dec 2020 06:00:59 GMT", <http://web.archive.org/web/20201216115529/https://www.reddit.com/r/de/>;
        rel="next memento"; datetime="Wed, 16 Dec 2020 11:55:29 GMT", <http://web.archive.org/web/20210520184552/https://www.reddit.com/r/de/>;
        rel="last memento"; datetime="Thu, 20 May 2021 18:45:52 GMT"
      memento-datetime: Wed, 16 Dec 2020 06:00:59 GMT
      x-app-server: wwwb-app203
      x-archive-guessed-charset: utf-8
      x-archive-guessed-content-type: text/html
      x-archive-orig-accept-ranges: bytes
      x-archive-orig-cache-control: private, s-maxage=0, max-age=0, must-revalidate,
        no-store
      x-archive-orig-connection: keep-alive
      x-archive-orig-content-encoding: gzip
      x-archive-orig-date: Wed, 16 Dec 2020 06:01:01 GMT
      x-archive-orig-server: snooserv
      x-archive-orig-set-cookie:
      - loid=00000000009csty015.2.1608098459000.Z0FBQUFBQmYyYUtiSUFGdkNuTUo0RnU4R3l0RVo5dVVRRFY1aW10MjdJcTNacVFqVGE0QUoxSDVtU2FUdm5CaTJod1FucEg0SWRza2RVMXE3ZU8xc3RfNDFwWF9XaEotYWpBTFNwTFphYXVTSGdaSmNETlV3UGRjOGFFMnhWTkxXdC1IekF6bUNSTng;
        path=/; expires=Fri, 16 Dec 2022 06:00:59 GMT; domain=.reddit.com; secure;
        SameSite=None; Secure
      - session_tracker=nbkbqqalapibkkoigi.0.1608098461700.Z0FBQUFBQmYyYUtkMC1hTWZKWjB1SXVzQXNHWWdCNlc5VlRVRUYzQUdRUURYM3Bza2pNbGQxekc0QXVPc1VCTzZEWGpFSTRaS2F2Z1hWS3pfRm4wZ2tkNER1TWZJYVpZamRzWnVTQmNhcXZ1Z2lzUWU3N3h2aHFpTjRWN1p4MHpSS2pyNl9kXzVaTm8;
        path=/; domain=.reddit.com; secure; SameSite=None; Secure
      - token_v2=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MDgxMDE5MzksInN1YiI6Ii1zQ0t4OWhQWllLVWRBclc4Uk44S29rRW1sc0kiLCJsb2dnZWRJbiI6ZmFsc2UsInNjb3BlcyI6WyIqIiwiZW1haWwiXX0.L-7gRYU-5g6Rle8IH3yrpx5ggrMPBEs_rE6k-6Wem98;
        Path=/; Domain=reddit.com; Expires=Fri, 16 Dec 2022 06:00:59 GMT; HttpOnly;
        Secure
      - csv=1; Max-Age=63072000; Domain=.reddit.com; Path=/; Secure; SameSite=None
      x-archive-orig-strict-transport-security: max-age=15552000; includeSubDomains;
        preload
      x-archive-orig-transfer-encoding: chunked
      x-archive-orig-vary: Accept-Encoding
      x-archive-orig-via: 1.1 varnish
      x-archive-orig-x-frame-options: SAMEORIGIN
      x-archive-src: spn2-20201216070410/spn2-20201216053002-wwwb-spn15.us.archive.org-8002.warc.gz
      x-location: All
      x-na: '0'
      x-nid: '-'
      x-page-cache: MISS
      x-rl: '0'
      x-tr: '723'
      x-ts: '200'
    body:
      encoding: UTF-8
      file: no
      string: "\n    <!DOCTYPE html>\n    <html lang=\"en-US\">\n      <head><script
        src=\"//archive.org/includes/analytics.js?v=cf34f82\" type=\"text/javascript\"></script>\n<script
        type=\"text/javascript\">window.addEventListener('DOMContentLoaded',function(){var
        v=archive_analytics.values;v.service='wb';v.server_name='wwwb-app203.us.archive.org';v.server_ms=494;archive_analytics.send_pageview({});});</script><script
        type=\"text/javascript\" src=\"/_static/js/playback.bundle.js?v=xTFGO54E\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\" src=\"/_static/js/wombat.js?v=i68pdzR-\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\">\n  __wm.init(\"http://web.archive.org/web\");\n
        \ __wm.wombat(\"https://www.reddit.com/r/de/\",\"20201216060059\",\"http://web.archive.org/\",\"web\",\"/_static/\",\n\t
        \     \"1608098459\");\n</script>\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"/_static/css/banner-styles.css?v=omkqRugM\" />\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"/_static/css/iconochive.css?v=qtvMKcIJ\" />\n<!--
        End Wayback Rewrite JS Include -->\n\n        <script>\n    var __SUPPORTS_TIMING_API
        = typeof performance === 'object' && !!performance.mark && !! performance.measure
        && !!performance.getEntriesByType;\n    function __perfMark(name) { __SUPPORTS_TIMING_API
        && performance.mark(name); };\n    var __firstPostLoaded = false;\n    function
        __markFirstPostVisible() {\n      if (__firstPostLoaded) { return; }\n      __firstPostLoaded
        = true;\n      __perfMark(\"first_post_title_image_loaded\");\n    }\n    var
        __firstCommentLoaded = false;\n    function __markFirstCommentVisible() {\n
        \     if (__firstCommentLoaded) { return; }\n      __firstCommentLoaded =
        true;\n      __perfMark(\"first_comment_loaded\");\n    }\n  </script>\n        <script>__perfMark('head_tag_start');</script>\n
        \       <meta charset=\"utf-8\"/>\n        <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n        <meta name=\"referrer\" content=\"origin-when-cross-origin\"/>\n
        \       <style>\n  /* http://meyerweb.com/eric/tools/css/reset/\n    v2.0
        | 20110126\n    License: none (public domain)\n  */\n\n  html, body, div,
        span, applet, object, iframe,\n  h1, h2, h3, h4, h5, h6, p, blockquote, pre,\n
        \ a, abbr, acronym, address, big, button, cite, code,\n  del, dfn, em, img,
        input, ins, kbd, q, s, samp,\n  small, strike, strong, sub, sup, tt, var,\n
        \ b, u, i, center,\n  dl, dt, dd, ol, ul, li,\n  fieldset, form, label, legend,\n
        \ table, caption, tbody, tfoot, thead, tr, th, td,\n  article, aside, canvas,
        details, embed,\n  figure, figcaption, footer, header, hgroup,\n  menu, nav,
        output, ruby, section, summary,\n  time, mark, audio, video {\n    margin:
        0;\n    padding: 0;\n    border: 0;\n    font-size: 100%;\n    font: inherit;\n
        \   vertical-align: baseline;\n  }\n\n  /* HTML5 display-role reset for older
        browsers */\n  article, aside, details, figcaption, figure,\n  footer, header,
        hgroup, menu, nav, section {\n    display: block;\n  }\n  body {\n    line-height:
        1;\n    font-family: BentonSans, sans-serif;\n  }\n  ol, ul {\n    list-style:
        none;\n  }\n  blockquote, q {\n    quotes: none;\n  }\n  blockquote:before,
        blockquote:after,\n  q:before, q:after {\n    content: '';\n    content: none;\n
        \ }\n  table {\n    border-collapse: collapse;\n    border-spacing: 0;\n  }\n
        \ a {\n    color: inherit;\n    text-decoration: inherit;\n  }\n\n  html,
        body {\n    width: 100%;\n    margin: 0;\n  }\n\n  /* HTML5 display-role reset
        for older browsers */\n  article, aside, details, figcaption, figure,\n  footer,
        header, hgroup, menu, nav, section {\n    display: block;\n  }\n\n  button
   [...]
