http_interactions:
- request:
    method: get
    uri: http://web.archive.org/web/20171112183146/https://www.reddit.com/r/de/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=UTF-8
      link: <https://www.reddit.com/r/de/>; rel="original", <http://web.archive.org/web/timemap/link/https://www.reddit.com/r/de/>;
        rel="timemap"; type="application/link-format", <http://web.archive.org/web/https://www.reddit.com/r/de/>;
        rel="timegate", <http://web.archive.org/web/20080129064959/http://reddit.com:80/r/de>;
        rel="first memento"; datetime="Tue, 29 Jan 2008 06:49:59 GMT", <http://web.archive.org/web/20171112174048/http://reddit.com:80/r/de>;
        rel="prev memento"; datetime="Sun, 12 Nov 2017 17:40:48 GMT", <http://web.archive.org/web/20171112183146/https://www.reddit.com/r/de/>;
        rel="memento"; datetime="Sun, 12 Nov 2017 18:31:46 GMT", <http://web.archive.org/web/20171115220704/https://reddit.com/r/de>;
        rel="next memento"; datetime="Wed, 15 Nov 2017 22:07:04 GMT", <http://web.archive.org/web/20210520184552/https://www.reddit.com/r/de/>;
        rel="last memento"; datetime="Thu, 20 May 2021 18:45:52 GMT"
      memento-datetime: Sun, 12 Nov 2017 18:31:46 GMT
      x-app-server: wwwb-app103
      x-archive-guessed-charset: utf-8
      x-archive-guessed-content-type: text/html
      x-archive-orig-accept-ranges: bytes
      x-archive-orig-cache-control: private, s-maxage=0, max-age=0, must-revalidate,
        max-age=0, must-revalidate
      x-archive-orig-connection: close
      x-archive-orig-content-length: '179121'
      x-archive-orig-date: Sun, 12 Nov 2017 18:31:47 GMT
      x-archive-orig-expires: '-1'
      x-archive-orig-server: snooserv
      x-archive-orig-set-cookie:
      - session_tracker=ygr8MmBPOUey2M4BTE.0.1510511506646.Z0FBQUFBQmFDSk9TdDRPVThYYXI3a1djZy1CNHlyRGNvOTlVZXhUYjE4WHZsSlBIWmtqSFV4dVNRQkFYbVkyXzRmSWxKUjZWQlNnNFVFT1ZuOTVyNE9taC1ySjZ1ZDlueFFHWWFqMXRjVWRUdXpQLVVtT3ZkZkRrUmFTQkl6RGV5aEp1Q1NjNWhja2s;
        Domain=reddit.com; Max-Age=7199; Path=/; expires=Sun, 12-Nov-2017 20:31:46
        GMT; secure
      - initref=kilobycenter.com; Domain=reddit.com; Max-Age=1799; Path=/; expires=Sun,
        12-Nov-2017 19:01:46 GMT; secure
      x-archive-orig-strict-transport-security: max-age=15552000; includeSubDomains;
        preload
      x-archive-orig-vary: accept-encoding
      x-archive-orig-via: 1.1 varnish
      x-archive-orig-x-cache: MISS
      x-archive-orig-x-cache-hits: '0'
      x-archive-orig-x-content-type-options: nosniff
      x-archive-orig-x-frame-options: SAMEORIGIN
      x-archive-orig-x-moose: majestic
      x-archive-orig-x-served-by: cache-sjc3143-SJC
      x-archive-orig-x-timer: S1510511507.602079,VS0,VE421
      x-archive-orig-x-ua-compatible: IE=edge
      x-archive-orig-x-xss-protection: 1; mode=block
      x-archive-src: liveweb-20171112184933/live-20171112181931-wwwb-app4.us.archive.org.warc.gz
      x-location: All
      x-na: '0'
      x-nid: '-'
      x-page-cache: MISS
      x-rl: '0'
      x-tr: '802'
      x-ts: '200'
    body:
      encoding: UTF-8
      file: no
      string: "<!doctype html><html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\"
        xml:lang=\"en\"><head><script src=\"//archive.org/includes/analytics.js?v=cf34f82\"
        type=\"text/javascript\"></script>\n<script type=\"text/javascript\">window.addEventListener('DOMContentLoaded',function(){var
        v=archive_analytics.values;v.service='wb';v.server_name='wwwb-app103.us.archive.org';v.server_ms=512;archive_analytics.send_pageview({});});</script><script
        type=\"text/javascript\" src=\"/_static/js/playback.bundle.js?v=xTFGO54E\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\" src=\"/_static/js/wombat.js?v=i68pdzR-\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\">\n  __wm.init(\"http://web.archive.org/web\");\n
        \ __wm.wombat(\"https://www.reddit.com/r/de/\",\"20171112183146\",\"http://web.archive.org/\",\"web\",\"/_static/\",\n\t
        \     \"1510511506\");\n</script>\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"/_static/css/banner-styles.css?v=omkqRugM\" />\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"/_static/css/iconochive.css?v=qtvMKcIJ\" />\n<!--
        End Wayback Rewrite JS Include -->\n<title>Reddit auf Deutsch</title><meta
        name=\"keywords\" content=\" reddit, reddit.com, vote, comment, submit \"/><meta
        name=\"description\" content=\"reddit: the front page of the internet\"/><meta
        name=\"referrer\" content=\"always\"><meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=UTF-8\"/><link type=\"application/opensearchdescription+xml\" rel=\"search\"
        href=\"/web/20171112183146/https://www.reddit.com/static/opensearch.xml\"/><link
        rel=\"canonical\" href=\"http://web.archive.org/web/20171112183146/https://www.reddit.com/r/de/\"/><meta
        name=\"viewport\" content=\"width=1024\"><link rel=\"dns-prefetch\" href=\"//web.archive.org/web/20171112183146/https://out.reddit.com/\"><link
    [...]
[...]
- request:
    method: get
    uri: http://web.archive.org/web/20171120193530/https://www.reddit.com/r/de
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=utf-8
      link: <https://www.reddit.com/r/de>; rel="original", <http://web.archive.org/web/timemap/link/https://www.reddit.com/r/de>;
        rel="timemap"; t[...]
